<!-- add to cart button:
id:"add-to-cart"-->


<button type="button" id="add-to-cart"><<i class="fas fa-cart-plus"></i>
</button>

<!--ADD TO CART BUTTON CSS
#add-to-cart {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: #B3DAF1;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#add-to-cart:hover,
#add-to-cart:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 36px;
  background-color: #B3DAF1;
}

#add-to-cart:focus {
  outline: none;
}
-->
