<footer class="footer-sections">
  <div class="footer-left">

    <h3>Logo <span>Here</span></h3>

    <p class="footer-links">
      <a href="/">Home</a></li>
      <a href="/rentals">Rentals</a></li>
      <a href="/aboutus">About us</a></li>
      <a href="/contact">Contact Us</a></li>
      <a href="/cart">Cart</a></li>
    </p>

    <p class="footer-company-name">Almost Christmas Prop Shoppe</p>
  </div>
  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>5348 Vineland Ave, Bldg C</span> North Hollywood, CA</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>(818) 285-9627</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:Christmasprops@gmail.com">ChristmasProps@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>

    </div>

  </div>

</footer>
