<header>
  <h1 class="site-title">Almost Christmas</h1>
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem"><a href="/">Home</a></li>
      <li class="navitem"><a href="/rentals">Rentals</a></li>
      <li class="navitem"><a href="/aboutus">About us</a></li>
      <li class="navitem"><a href="/contact">Contact Us</a></li>
      <li class="navitem"><a href="/cart">Cart</a></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
