<!--Contact Us page template   No curly brackets in here :) -->
{{>header}}
<main class="content-container">
<div class="about-us-content">
		<div class="about-us-left">
        <a href="https://imgur.com/CWHrvbZ"><img src="https://i.imgur.com/CWHrvbZ.jpg" width="200" height="200" alt="photo" />
        </a>
        <a href="https://imgur.com/7BOO0eo"><img src="https://i.imgur.com/7BOO0eo.jpg" width="200"height="200" alt="tree" />
        </a>
    </div>
  <div class="about-us">
    <div class="about-header">
      <h2>About us</h2>
    </div>
    <div class="about-txt">
      <p>
      Established in 1989, Almost Christmas Props is one of world's largest
      holiday prop houses. We continue to be the only prop house in Hollywood
      dedicated exclusively to Christmas, having worked with industry leading
      production companies, independent studios, and numerous businesses.
      Located in the heart of North Hollywood, Almost Christmas Props
      maintains a vast inventory of holiday props including trees, wreaths,
      garlands, mantels, sleighs, tabletop décor, specialty lights, lawn pieces,
      glass and non-breakable ornaments, and many more. Our warehouse also contains
      authentic gingerbread houses and winter wonderland displays, which have been
      featured in countless film and television productions. In addition to our
      extensive inventory of holiday props, we also offer personalized holiday designs
      and onsite decorating through our in-house design team, Santa Clause Productions.
      </p>
    </div>
  </div>
  </div>

</main>
{{>footer}}
