{{>header}}
<main class="content-container">
<div class="homeText">
<h2>Welcome</h2>
<p>Check out our Rentals page</p><p>
for photos of our inventory!</p><p>
Need something you don't see?</p><p>
Contact us, we'd be happy</p>
 to help.
</p>
</div>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <a href="https://imgur.com/84JNj1j"><img src="https://i.imgur.com/84JNj1j.jpg" title="source: imgur.com" style="width:100%"/></a>

  </div>

  <div class="mySlides fade">
  <a href="https://imgur.com/7ZvinjE"><img src="https://i.imgur.com/7ZvinjE.jpg" title="source: imgur.com" style="width:100%"/></a>

  </div>

  <div class="mySlides fade">
  <a href="https://imgur.com/zd6CDPA"><img src="https://i.imgur.com/zd6CDPA.jpg" title="source: imgur.com" style="width:100%"/></a>

  </div>

  <div class="mySlides fade">
<a href="https://imgur.com/xFsgQYV"><img src="https://i.imgur.com/xFsgQYV.jpg" title="source: imgur.com" style="width:100%"/></a>  </div>

  <div class="mySlides fade">
<a href="https://imgur.com/Epw8gFS"><img src="https://i.imgur.com/Epw8gFS.jpg" title="source: imgur.com" style="width:100%" /></a>
  </div>

  <div class="mySlides fade">
<a href="https://imgur.com/7j7FdWf"><img src="https://i.imgur.com/7j7FdWf.jpg" title="source: imgur.com" style="width:100%"/></a>
</div>
  <div class="mySlides fade">
  <a href="https://imgur.com/6jnBbU7"><img src="https://i.imgur.com/6jnBbU7.jpg" title="source: imgur.com" style="width:100%"/></a>
</div>
  </div>

</main>

{{>footer}}
