body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #fff;
}
/* ---------SITE TITLE STUFF---------- */
header {
  background-color: #B3DAF1;
  color: #fff;
}

a {
  text-decoration: none;
  color: #03a9f4;
}
main{
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}
a:hover {
  color: #0c719e;
}

.site-title {
  font-family: cursive;
	font-size: 72px;
	font-style: normal;
	font-weight: 200px;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  text-shadow: -1px 4px 2px rgba(28,110,164,0.73);

}

/*************home page css***************/

.homeText h2{
  font-family: cursive;
  font-size: 36px;
  color: red;
}
.homeText{
position: absolute;
font-size: 16px;
color: navy;
line-height: 10px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* --------NAVIGATION BAR STUFF--------- */
.navbar {
  font-size: 19px;
  background-color: #fff;
  font-family: cursive;
	font-style: normal;
	font-weight: 80;
}

.navlist {
  margin: 0 0 0 240px;
  padding: 2px;
}

.navitem {
  display: inline-block;
  padding-left: 70px;
}
a {
  color: #343434;
}

a:hover,
a:focus {
  color: #B3DAF1;
}

.navitem:hover {
  font-color: #B3DAF1;
}

.navitem.right {
  float: right;
}
/*-------------SEARCH BAR STUFF------------ */
.navbar-search {
width:100%;
height:auto;
margin:0px;
padding:0px;
float:left;
text-align:center;
}


#navbar-search-input {
  padding: 4px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  border: 2px solid #dadada;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: 0px;
  font-size: 12px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}
#navbar-search-button:hover {
  color: #B3DAF1;
}

/*ADD ITEM BUTTON AND MAIN CONTAINER FLEX*/
.content-container {
  display: flex;
 flex-wrap: wrap;
 padding: 5px;
}

.photo-box {
  flex: 1 32%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
.inner-photo-box{
margin:auto;
line-height: 2;
}
/*PHOTO X BUTTON ADD/HIDE based on page*/
.photo-remove-button {
  float: right;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.item-photo-img{
  max-height: 250px;
}
.cartDiv{
  display: none;
}
.item-div{
  display: none;
}
/********FOOTER CSS*******/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer {
	background-color: #B3DAF1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 20px 30px;
	margin-top: 30px;
}

.footer-left,
.footer-center,
.footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left{
	width: 40%;
}
.footer-left .company-logo{
	max-height: 200px;
}
.company-logo{
margin-left: 50px;
}
.footer-company-name{
  font-family: cursive;
	color:  #fff;
	font-size: 30px;
	font-weight: bold;
	margin: 0;

}
/* Footer links */

.footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 5;
}

.footer-links a{
	display:inline-block;
  padding-top: 0px;
	line-height: 1.8;
	text-decoration: none;
	color:  white;
}

/* Footer Center */
.footer-center{
	width: 35%;
}

.footer-center i{
	background-color:  #B3DAF1;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:5px;
  line-height: 3;
}

.footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:0;
}

.footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-right{
	width: 20%;
}
/*snowglobe*/
.countdown-container {
    position: relative;
    text-align: center;
    color: white;
}

/*center text */
.countdown-text{
  color:white;
  position: absolute;
  top: 55%;
  left: 45%;
    transform: translate(-50%, -50%);
}

.footer-icons{
	margin-top: 35px;
  margin-left: 25px;
}

.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*CSS add item button*/
#add-item-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 25px;
  background-color: #B3DAF1;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#add-item-button:hover,
#add-item-button:focus {
  color: #B3DAF1;
}
/****************CSS  add item MODAL**************/
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.action-button {
  font-size: 20px;
  color: black;
  padding: 10px;
  background-color: #B3DAF1;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}
.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}
.item-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.item-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.item-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #B3DAF1;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}
/*******MORE INFO MODAL*****************/
#modal-bdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
#item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.info {
  display: none;
}


.modal-box {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.item-name {
  text-align: center;
  padding: 10px 20px;
}

.item-name h3 {
  margin: 0;
  font-size: 28px;
}


.info-close-button {
  float: left;
  margin-left: 15px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.item-body {
  text-align: center;
}
.left-col {
 float:left;
 width:50%;
}
.right-col{
  float: right;
  width:50%;
}
.item-details{
  text-align: right;
  margin-right: 25px;
 margin-top: 50px;
  bottom: 20px;
}
.item-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}
.add-cart{
 text-align: right;
}

/****ADD CART Button CSS******/
#add-to-cart {
  margin-right: 20px;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: #B3DAF1;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#add-to-cart:hover,
#add-to-cart:focus {
  height: 35px;
  width: 65px;
  border-radius: 33px;
  font-size: 34px;
  background-color: #B3DAF1;
}

#add-to-cart:focus {
  outline: none;
}
/********ABOUT US PAGE ************/
.about-us-content {
    width: 100%;
    margin: 0 0 0 20px; /* top right bottom left */
    padding: 0;
}
.about-us-left,
.about-us,
.about-us-right{
	display: inline;
	vertical-align: top;
}
/*about us left*/
.about-us-left{
 float:left;
  width:25%;
}
.about-us-left a{
  height: 20%;
  width: 20%;
}
/*about us center*/

.about-header h2{
  font-family: cursive;
  color: #E00000;
  size: 32px;
  font-weight: bold;
}
.about-us {
  padding-top: 10px;
  padding-left: 250px;
  padding-right: 250px;
  width: 50%;
  color: #146E10;
}
/*CONTACT US*/
.contact-intro{
  text-align: center;
}

.contact-form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#form-button{
    background-color: #B3DAF1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;


}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Create two columns that float next to eachother */
.gmap {
    float:left;
    width: 50%;
    margin-top: 6px;
    margin-left: 320px;
    padding: 20px;
}
.contact-form{
  width: 50%;
  margin-top: 6px;
  margin-left: 200px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
